@use './base';

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: base.$font-stack;
    
}

body.desktop {
    padding-left: 5rem;
    padding-right: 5rem;
    overflow: hidden;
}


body.mobile {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 1px; 
    right: 1px;
}

.attribution a { color: hsl(228, 45%, 44%); }